*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 78);
}
.container{
    width: 60%;
    height: 60vh;
    /* background-color: aqua; */
    margin-top: 20vh;
}
.up{
    width: 100%;
    height: 30vh;
    /* background-color: blue; */
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.div1{
    width: 15%;
    height: 100%;
    background-color: orangered;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1:hover{
    margin: 0;
}
.div3{
    width: 15%;
    height: 100%;
    background-color: rgb(54, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3:hover{
    margin-right: 300px;
}
.bottom{
    width: 100%;
    height: 30vh;
    /* background-color: rgb(19, 19, 37); */
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.div2{
    width: 15%;
    height: 100%;
    background-color: rgb(58, 3, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2:hover{
    margin-left: 300px;
}
.div4{
    width: 15%;
    height: 100%;
    background-color: rgb(28, 149, 32);
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4:hover{
    margin-right: 0;
}
